/* common-objections */
.common-objections {
    background:
        url('../../assets/images/common-objections/grass-and-hedgehog.png') bottom center/contain no-repeat,
        url('../../assets/images/common-objections/sand-bg-color.jpg') center/cover no-repeat;
}
.panel-container {
    @apply w-full my-2;
}

::-webkit-scrollbar-corner {background-color: transparent;}

.panel {
    @apply rounded overflow-hidden;
    border-color: var(--white);
    color: var(--brown);
}
.panel > .heading {
    cursor: pointer;
    background-color: var(--white);
    @apply py-2 px-4;
}
.panel > div {
    background: rgba(255, 255, 255, 0.6);
    @apply p-4;
}
.arrow-up {
    width: auto;
    background: url('../../assets/images/arrow-up.svg') center/cover no-repeat;
}
.arrow-down {
    background: url('../../assets/images/arrow-down.svg') center/cover no-repeat;
}

/* Note: we should be using the scrollbar just without the awful white gutter but scrollbar-color isn't supported yet by most major browsers */
/* scrollbar-color: red yellow; */
.inline-scroll {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%);
}
.inline-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.inline-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}