@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFF;
    --blue: #85C5C8;
    --green: #B0CB83;
    --orange: #C79D5E;
    --pink: #D68A9C;
    --purple: #A89CF6;
}

body {
    @apply m-0 overflow-hidden h-screen w-screen;
    color: var(--white);
}

.scrollable {
    scroll-snap-align: start;
}

section, .scrollable-container {
    @apply flex content-center h-screen w-screen h-full w-full /*justify-center*/;
    scroll-snap-align: start;
}

.heading {
    @apply text-4xl;
}

.full-screen {
    @apply flex flex-col md:flex-row w-full h-full flex-grow z-10;
    @apply md:mx-20;
}

.split-screen {
    @apply flex flex-col flex-1 self-center p-8;
    @apply md:h-full;
}

.split-screen:nth-child(1) {
    @apply flex-grow-0 md:min-w-[25%] md:mx-20;
}
.split-screen:nth-child(2) {
    @apply flex-grow md:h-full;
}
#centered-squares {
    @apply grid self-center w-[80%];
    @apply md:h-[60%];
}

div[class$='-square'] {
    aspect-ratio: 1/1;
    align-self: center;
}

/* couldn't get the tailwind theme to extend :( */
.h-screen-30vh { height: 30vh; }
.h-screen-50vh { height: 50vh; }
.h-screen-70vh { height: 70vh; }

/* TODO: should really figure out how to make this generic and use the number in the tailwind names */
.square-2s {
    @apply grid-cols-2 grid-rows-2 gap-16;
}
.square-2s > div {
    @apply rounded-lg;
}
.square-5s {
    @apply grid-cols-5 grid-rows-5 gap-6 rounded-md;
}
.square-5s > div {
    @apply rounded-md;
}
.square-10s {
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    @apply gap-2;
}
.square-10s > div {
    @apply rounded-sm;
}
.square-30s {
    grid-template-columns: repeat(30, minmax(0, 1fr));
    grid-template-rows: repeat(30, minmax(0, 1fr));
    @apply gap-1
}
.square-30s > div {
    border-radius: 1px;
}
.square-50s {
    grid-template-columns: repeat(50, minmax(0, 1fr));
    grid-template-rows: repeat(50, minmax(0, 1fr));
    gap: 1px 1px;
}
.square-50s > div {
    border-radius: 1px;
}

.blue-square {
    background-color: var(--blue);
}
.green-square {
    background-color: var(--green);
}
.orange-square {
    background-color: var(--orange);
}
.pink-square {
    background-color: var(--pink);
}
.purple-square {
    background-color: var(--purple);
}

svg {
    @apply max-w-full max-h-full;
}

.accent {
    color: var(--blue);
}

#up-arrow {

}

#elephant-image-container {
    @apply flex-grow;
}

#down-arrow {
    background: url('../images/down-arrow.svg') center/cover no-repeat;
}

.wild-animal-suffering {
    background: url('../images/savanna.jpg') center/cover no-repeat;
}

@screen md {
    .wild-animal-suffering {
        background: url('../images/savanna-md.jpg') center/cover no-repeat;
    }
}


.elephants {
    background: url('../images/elephants.png') center/contain no-repeat;
}

.abyss {
    background: url('../images/earth.png') center/contain no-repeat, url('../images/abyss.jpg') center/cover no-repeat;
}


.even-worse {
    background: url('../images/sand-bg-color.jpg') center/cover no-repeat;
}

.population-dynamics {
    background: url('../images/dirt-road.jpg') center/cover no-repeat;
}

.videos {
    background: url('../images/sky.jpg') center/cover no-repeat;
}

.common-objections {
    background: url('../images/sand-bg-color.jpg') center/cover no-repeat;
}

.other-resources {
    background: url('../images/sand-bg-color.jpg') center/cover no-repeat;
}

.how-you-can-help {
    background: url('../images/forest-bg-color.jpg') center/cover no-repeat;
}

.organisations {
    background: url('../images/mud-bg-color.jpg') center/cover no-repeat;
}

.together-we-can {
    background: url('../images/in-the-woods.jpg') center/cover no-repeat;
}

#page-indicators {
    @apply hidden h-screen w-screen flex flex-col justify-center items-end;
    @apply md:flex;
}

.page-indicator-dot {
    @apply h-3 w-3 inline-block border-2 rounded-full mx-4 my-2;
}
.page-indicator-dot.filled {
    background: var(--white);
}


.scrollsnap-y {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollsnap-y::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

.scrollsnap-y {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scrollsnap-x {
    overflow-y: hidden;
}