@import '../fonts/the-bold-font.css';
/* @import url('https://db.onlinewebfonts.com/c/a1e62992c2000401c04c1b6e042516c0?family=The+Bold+Font'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFF;
    --oat: #DAD7CE;
    --blue: #85C5C8;
    --purple: #A89CF6;
    --pink: #D68A9C;
    --navy: #1A3439;
    --green: #B0CB83;
    --orange: #D8B36D;
    --sand: #A39D8B;
    --brown: #4E4534;
}

.blue { color: var(--blue); }
.green { color: var(--green); }
.orange { color: var(--orange); }
.pink { color: var(--pink); }
.purple { color: var(--purple); }
.navy { color: var(--navy); }
.brown { color: var(--brow); }
.sand { color: var(--sand); }
.oat { color: var(--oat); }

html {
    font-size: 1.5vmin;
}

body {
    @apply m-0 overflow-hidden h-screen w-screen font-light;
    @apply md:font-light;
    color: var(--white);
    font-family: 'Poppins';
}

h1 { @apply text-7xl; @apply font-bold; }
h2 { @apply text-5xl; @apply font-bold; }
h3 { @apply text-4xl; @apply font-bold; }
h4 { @apply text-2xl; @apply font-bold; }
h5 { @apply text-sm; @apply font-bold; }
h6 { @apply text-xs; }

h1, h2, h3, h4, h5, h6 {
    @apply uppercase;
    font-family: 'The Bold Font';
    letter-spacing: 0.01em;
}

p {
    @apply text-sm;
    @apply md:text-base;
}

.screen-content {
    /* screen-content is always full screen for both mobile and web */
    @apply h-screen w-screen;
}

.badge {
    background-color: var(--orange);
    color: var(--navy);
    @apply rounded-full px-4 py-1;
}

.scrollable {
    scroll-snap-align: start;
}

section, .scrollable-container {
    @apply flex content-center h-screen w-screen h-full w-full /*justify-center*/;
    scroll-snap-align: start;
}

.flex-center {
    @apply flex justify-center items-center;
}

.full-screen {
    @apply flex flex-grow;
    /* @apply md:mx-20; */
}

.split-screen-padding {
    @apply p-8;
}

.split-screen {
    @apply flex flex-1 self-center;
    @apply md:h-full;
}

.split-screen:nth-child(1) {
    @apply flex-grow-0 md:min-w-[25%] md:mx-20;
}
.split-screen:nth-child(2) {
    @apply flex-grow md:h-full;
}
#centered-squares {
    @apply grid self-center w-[70%];
    /* @apply md:h-[60%]; */
}

.stat-highlight {
    @apply text-5xl;
}

.legend {
    background: url('../images/wild-animal-stats/legend.svg') center/cover no-repeat;
    width: 80%;
    aspect-ratio: 15;
}

div[class$='-square'] {
    aspect-ratio: 1/1;
    align-self: center;
}

/* couldn't get the tailwind theme to extend :( */
@layer utilities {
    .hw-screen { height: 100vh; width: 100vw; }
    .h-screen-10vh { height: 10vh; }
    .h-screen-20vh { height: 20vh; }
    .h-screen-30vh { height: 30vh; }
    .h-screen-40vh { height: 40vh; }
    .h-screen-50vh { height: 50vh; }
    .h-screen-60vh { height: 60vh; }
    .h-screen-70vh { height: 70vh; }
    .h-screen-80vh { height: 80vh; }
    .h-screen-90vh { height: 90vh; }
    .w-screen-10vw { width: 10vw; }
    .w-screen-20vw { width: 20vw; }
    .w-screen-30vw { width: 30vw; }
    .w-screen-40vw { width: 40vw; }
    .w-screen-50vw { width: 50vw; }
    .w-screen-60vw { width: 60vw; }
    .w-screen-70vw { width: 70vw; }
    .w-screen-80vw { width: 80vw; }
    .w-screen-90vw { width: 90vw; }
}

/* TODO: should really figure out how to make this generic and use the number in the tailwind names */
.square-2s {
    @apply grid-cols-2 grid-rows-2 gap-16;
}
.square-2s > div {
    @apply rounded-lg;
}
.square-5s {
    @apply grid-cols-5 grid-rows-5 gap-6 rounded-md;
}
.square-5s > div {
    @apply rounded-md;
}
.square-10s {
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    @apply gap-2;
}
.square-10s > div {
    @apply rounded-sm;
}
.square-30s {
    grid-template-columns: repeat(30, minmax(0, 1fr));
    grid-template-rows: repeat(30, minmax(0, 1fr));
    @apply gap-1
}
.square-30s > div {
    @apply rounded-sm;
}
.square-50s {
    grid-template-columns: repeat(50, minmax(0, 1fr));
    grid-template-rows: repeat(50, minmax(0, 1fr));
    gap: 0.0625rem 0.0625rem;
}
.square-50s > div {
    @apply rounded-sm;
}

.blue-square {
    background-color: var(--blue);
}
.green-square {
    background-color: var(--green);
}
.orange-square {
    background-color: var(--orange);
}
.pink-square {
    background-color: var(--pink);
}
.purple-square {
    background-color: var(--purple);
}

svg {
    @apply max-w-full max-h-full;
}

#up-arrow {

}

#elephant-image-container {
    @apply flex-grow;
}

.down-container {
    @apply justify-center w-screen flex flex-col items-center bottom-0 z-10;
}
.side-container {
    @apply justify-center h-screen flex flex-row items-center right-0 z-10;
}

#next-section-down {
    @apply w-8 h-1/2;
    background: url('../images/arrows-down.svg') center/cover no-repeat;
}
#next-section-side {
    @apply w-1/2 h-8;
    background: url('../images/arrows-side.svg') center/cover no-repeat;
}

.wild-animal-suffering {
    background: url('../images/savanna.jpg') center/cover no-repeat;
}

@screen md {
    .wild-animal-suffering {
        background: url('../images/savanna-md.jpg') center/cover no-repeat;
    }
}


.elephants {
    background: url('../images/elephants.png') center/contain no-repeat;
}

.abyss {
    background:
        url('../images/wild-animal-stats/earth.png') right center/50% no-repeat,
        url('../images/wild-animal-stats/abyss.jpg') center/cover no-repeat;
}

.abyss-darkened {
    background:
        linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
        url('../images/wild-animal-stats/earth.png') right center/50% no-repeat,
        url('../images/wild-animal-stats/abyss.jpg') center/cover no-repeat;
}

.human-icon {
    background: url('../images/wild-animal-stats/human.png') center/contain no-repeat;
}


.even-worse {
    background: url('../images/sand-bg-color.jpg') center/cover no-repeat;
}

.population-dynamics {
    background:
        url('../images/population-dynamics/top-left-grass.png') top left/auto no-repeat,
        url('../images/population-dynamics/bottom-right-grass.png') bottom right/auto no-repeat,
        url('../images/population-dynamics/dirt-road.jpg') center/cover no-repeat;
}

.population-dynamics-duck {
    background: url('../images/population-dynamics/duck.png') center right/contain no-repeat;
}

.videos {
    background: url('../images/sky.jpg') center/cover no-repeat;
}

.common-objections {
    background: url('../images/sand-bg-color.jpg') center/cover no-repeat;
}

.other-resources {
    background: url('../images/sand-bg-color.jpg') center/cover no-repeat;
}

.how-you-can-help {
    background: url('../images/forest-bg-color.jpg') center/cover no-repeat;
}

.organisations {
    background: url('../images/mud-bg-color.jpg') center/cover no-repeat;
}

.together-we-can {
    background: url('../images/in-the-woods.jpg') top/cover no-repeat;
}

.bears {
    background: url('../images/bears.png') bottom/contain no-repeat;
}

/* even worse.. */
.suffer-image-container {
    @apply border rounded-md m-4;
    max-width: 20vw;
}
.suffer-image {
    @apply text-center;
    aspect-ratio: 2;
}
.suffer-text {
    background: rgba(255, 255, 255, 0.25);
}
.suffer-thirst-image {
    background: url('../images/suffer/starving-dog.png') center/contain no-repeat;
}
.suffer-predation-image {
    background: url('../images/suffer/predation.png') center/contain no-repeat;
}
.suffer-disease-image {
    background: url('../images/suffer/parasite.png') center/contain no-repeat;
}
.suffer-harmful-weather-image {
    background: url('../images/suffer/harmful-weather.png') center/contain no-repeat;
}
.suffer-natural-disasters-image {
    background: url('../images/suffer/fires.png') center/contain no-repeat;
}
.suffer-accidents-image {
    background: url('../images/suffer/tire-tracks.png') center/contain no-repeat;
}
.suffer-anthropogenic-harms-image {
    background: url('../images/suffer/fish-hook.png') center/contain no-repeat;
}

/* population dynamics */
[class^='baby-duck-'] {
    background: url('../images/population-dynamics/chick.png') center/contain no-repeat;
    @apply absolute w-1/6;
    aspect-ratio: 1;
    
}
.baby-duck-01 { left: 10%; bottom: 0%; }
.baby-duck-02 { left: 10%; bottom: 30%; }
.baby-duck-03 { left: 35%; bottom: 35%; }
.baby-duck-04 { left: 45%; bottom: 60%; }
.baby-duck-05 { left: 60%; bottom: 60%; }
.baby-duck-06 { left: 45%; bottom: 20%; }
.baby-duck-07 { left: 5%; bottom: 20%; }
.baby-duck-08 { left: 60%; bottom: 35%; }
.baby-duck-09 { left: 20%; bottom: 60%; }
.baby-duck-10 { left: 65%; bottom: 10%; }

#page-indicators {
    @apply hidden h-screen w-screen flex flex-col justify-center items-end;
    @apply md:flex;
}

.page-indicator-dot {
    @apply h-3 w-3 inline-block border-2 rounded-full mx-4 my-2;
}
.page-indicator-dot.filled {
    background: var(--white);
}


.scrollsnap-y {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollsnap-y::-webkit-scrollbar {
    width: 0rem; /* For Chrome, Safari, and Opera */
}

.scrollsnap-y {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scrollsnap-x {
    overflow-y: hidden;
}