@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: whitesmoke;
}

.scrollsnap-y {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollsnap-y::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

.scrollsnap-y {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    @apply flex content-center justify-center h-screen w-screen h-full w-full;
    scroll-snap-align: start;
}

svg {
    @apply max-w-full max-h-full;
}

section > div > div {
    @apply m-8;
}

#up-arrow {

}

#down-arrow {
    background: url('../images/down-arrow.svg') center/cover no-repeat;
}

.wild-animal-suffering {
    background: url('../images/savanna.jpg') center/cover no-repeat;
}

.elephants {
    background: url('../images/elephants.png') center/contain no-repeat;
}

.eight-billion {
    background: url('../images/abyss.jpg') center/cover no-repeat;
}

.comparing-numbers {
    background: url('../images/abyss.jpg') center/cover no-repeat;
}

.earth-image-light {
    background: url('../images/earth-light.svg');
}