/* common-objections */
.common-objections {
    background:
        url('../images/common-objections/grass-and-hedgehog.png') bottom center/contain no-repeat,
        url('../images/common-objections/sand-bg-color.jpg') center/cover no-repeat;
}
.panel-container {
    @apply w-full m-2;
}

.panel {
    @apply rounded overflow-hidden;
    border-color: var(--white);
}
.panel > div {
    @apply hidden;
}
.panel > h4 {
    background-color: var(--white);
    @apply p-2;
}
.panel-open > div {
    background: rgba(255, 255, 255, 0.6);
    @apply flex p-4;
}