/* population dynamics screen */
.population-dynamics {
  background: url("../../../assets/images/population-dynamics/top-left-grass.png")
      top left/auto no-repeat,
    url("../../../assets/images/population-dynamics/bottom-right-grass.png")
      bottom right/auto no-repeat,
    url("../../../assets/images/population-dynamics/dirt-road.jpg") center/cover
      no-repeat;
}
.population-dynamics-duck {
  background: url("../../../assets/images/population-dynamics/duck.png") center
    right/contain no-repeat;
}
[class^="baby-duck-"] {
  background: url("../../../assets/images/population-dynamics/chick.png")
    center/contain no-repeat;
  @apply absolute w-1/6;
  aspect-ratio: 1;
}
.baby-duck-01 {
  left: 10%;
  bottom: 0%;
}
.baby-duck-02 {
  left: 10%;
  bottom: 30%;
}
.baby-duck-03 {
  left: 35%;
  bottom: 35%;
}
.baby-duck-04 {
  left: 45%;
  bottom: 60%;
}
.baby-duck-05 {
  left: 60%;
  bottom: 60%;
}
.baby-duck-06 {
  left: 45%;
  bottom: 20%;
}
.baby-duck-07 {
  left: 5%;
  bottom: 20%;
}
.baby-duck-08 {
  left: 60%;
  bottom: 35%;
}
.baby-duck-09 {
  left: 20%;
  bottom: 60%;
}
.baby-duck-10 {
  left: 65%;
  bottom: 10%;
}
