.link-copied-toast[data-state='open'] {
  animation: slideUp 150ms ease-out forwards;
}

.link-copied-toast[data-state='closed'] {
  animation: slideDown 150ms ease-in forwards;
}

@keyframes slideUp {
  from {
    @apply opacity-0;
    transform: translateY(0);
  }
  to {
    @apply opacity-100 -translate-y-4;
  }
}

@keyframes slideDown {
  from {
    @apply opacity-100 -translate-y-4;
  }
  to {
    @apply opacity-0;
    transform: translateY(0);
  }
}
