.drop {
  background: -moz-linear-gradient(
    top,
    rgba(73, 108, 135, 1) 0%,
    rgba(220, 220, 220, 0.5) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(73, 108, 135, 1) 0%,
    rgba(220, 220, 220, 0.5) 100%
  );
}
