.was-overlay {
  background-color: var(--overlay);
  @apply h-screen w-screen fixed inset-0;
}

.was-dialog-content {
  @apply fixed z-10 flex flex-col justify-between items-center self-center;
  @apply border-2 rounded-2xl overflow-hidden bg-clip-padding;
  transform: translate(-40%, -50%);
  min-width: 50vw;
  max-width: 90vw;
  min-height: 50vh;
  max-height: 90vh;
  top: 50%;
  left: 40%;
}

.was-dialog-content:focus-visible {
  outline: none;
}

.was-dialog-content > div {
  @apply p-8;
}
