/* together-we-can */
.together-we-can {
    background: url('../../assets/images/together-we-can/in-the-woods.jpg') top/cover no-repeat;
}
@screen md {
    .together-we-can {
        background: url('../../assets/images/together-we-can/in-the-woods-md.jpg') top/cover no-repeat;
    }
}
.bears {
    aspect-ratio: 1;
    background:
        url('../../assets/images/together-we-can/momma.png') bottom/contain no-repeat,
        url('../../assets/images/together-we-can/pups.png') bottom/contain no-repeat;;
}