/* even worse.. */
.even-worse {
  background: url("../../../assets/images/even-worse/sand-bg-color.jpg")
    center/cover no-repeat;
}
.suffer-image-container {
  @apply border rounded-md m-4;
  max-width: 20vw;
}
.suffer-image {
  @apply text-center;
  aspect-ratio: 2;
}
.suffer-text {
  background: rgba(255, 255, 255, 0.25);
}
.suffer-image-thirst-and-starvation {
  background: url("../../../assets/images/even-worse/starving-dog.png")
    center/contain no-repeat;
}
.suffer-image-predation {
  background: url("../../../assets/images/even-worse/predation.png")
    center/contain no-repeat;
}
.suffer-image-disease-and-parasitism {
  background: url("../../../assets/images/even-worse/parasite.png")
    center/contain no-repeat;
}
.suffer-image-harmful-weather {
  background: url("../../../assets/images/even-worse/harmful-weather.png")
    center/contain no-repeat;
}
.suffer-image-natural-disasters {
  background: url("../../../assets/images/even-worse/fires.png") center/contain
    no-repeat;
}
.suffer-image-accidents {
  background: url("../../../assets/images/even-worse/tire-tracks.png")
    center/contain no-repeat;
}
.suffer-image-anthropogenic-harms {
  background: url("../../../assets/images/even-worse/fish-hook.png")
    center/contain no-repeat;
}
