@import '../assets/fonts/the-bold-font.css';
/* @import url('https://db.onlinewebfonts.com/c/a1e62992c2000401c04c1b6e042516c0?family=The+Bold+Font'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #fff;
	--oat: #dad7ce;
	--blue: #85c5c8;
	--purple: #a89cf6;
	--pink: #d68a9c;
	--dark-gray: #1a3439;
	--green: #b0cb83;
	--orange: #d8b36d;
	--sand: #a39d8b;
	--brown: #4e4534;
	--overlay: rgba(26, 52, 57, 0.5);
}

.blue {
	color: var(--blue);
}
.green {
	color: var(--green);
}
.orange {
	color: var(--orange);
}
.pink {
	color: var(--pink);
}
.purple {
	color: var(--purple);
}
.dark-gray {
	color: var(--dark-gray);
}
.brown {
	color: var(--brown);
}
.sand {
	color: var(--sand);
}
.oat {
	color: var(--oat);
}

html {
	font-size: 1.5vmin;
}

body {
	@apply m-0 overflow-hidden h-screen w-screen font-light;
	@apply md:font-light;
	color: var(--white);
	font-family: 'Poppins';
}

#app {
	justify-content: center;
	display: flex;
}

h1 {
	@apply text-7xl;
	@apply font-bold;
}
h2 {
	@apply text-5xl;
	@apply font-bold;
}
h3 {
	@apply text-4xl;
	@apply font-bold;
}
h4 {
	@apply text-2xl;
	@apply font-bold;
}
h5 {
	@apply text-sm;
	@apply font-bold;
}
h6 {
	@apply text-xs;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply uppercase;
	font-family: 'The Bold Font';
	letter-spacing: 0.01em;
}

p {
	@apply text-sm;
	@apply md:text-base;
}

.screen-content {
	/* screen-content is always full screen for both mobile and web */
	@apply h-screen w-screen p-8;
}

.badge {
	background-color: var(--orange);
	color: var(--dark-gray);
	@apply rounded-full px-4 py-1 inline-flex flex-col justify-center;
}

.scrollable {
	scroll-snap-align: start;
}

section,
.scrollable-container {
	@apply flex content-center h-screen w-screen h-full w-full /*justify-center*/;
	scroll-snap-align: start;
}

.flex-center {
	@apply flex justify-center items-center;
}

.full-screen {
	@apply flex flex-grow;
	/* @apply md:mx-20; */
}

.split-screen-padding {
	@apply p-8;
}

.split-screen {
	@apply flex flex-1 self-center;
	@apply md:h-full;
}

.split-screen:nth-child(1) {
	@apply flex-grow-0 md:min-w-[25%] md:mx-20;
}
.split-screen:nth-child(2) {
	@apply flex-grow md:h-full;
}

/* couldn't get the tailwind theme to extend :( */
@layer utilities {
	.hw-screen {
		height: 100vh;
		width: 100vw;
	}
	.h-screen-10vh {
		height: 10vh;
	}
	.h-screen-20vh {
		height: 20vh;
	}
	.h-screen-30vh {
		height: 30vh;
	}
	.h-screen-40vh {
		height: 40vh;
	}
	.h-screen-50vh {
		height: 50vh;
	}
	.h-screen-60vh {
		height: 60vh;
	}
	.h-screen-70vh {
		height: 70vh;
	}
	.h-screen-80vh {
		height: 80vh;
	}
	.h-screen-90vh {
		height: 90vh;
	}
	.w-screen-5vw {
		width: 5vw;
	}
	.w-screen-10vw {
		width: 10vw;
	}
	.w-screen-20vw {
		width: 20vw;
	}
	.w-screen-30vw {
		width: 30vw;
	}
	.w-screen-40vw {
		width: 40vw;
	}
	.w-screen-50vw {
		width: 50vw;
	}
	.w-screen-60vw {
		width: 60vw;
	}
	.w-screen-70vw {
		width: 70vw;
	}
	.w-screen-80vw {
		width: 80vw;
	}
	.w-screen-90vw {
		width: 90vw;
	}
}

.aspect-square {
	aspect-ratio: 1;
}

// #page-indicators {
// 	@apply hidden h-screen w-screen flex flex-col justify-center items-end;
// 	@apply md:flex;
// }

.page-indicator-dot {
	@apply h-3 w-3 inline-block border-2 rounded-full mx-4 my-2;
}
.page-indicator-dot.filled {
	background: var(--white);
}

.scrollsnap-y {
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollsnap-y::-webkit-scrollbar {
	width: 0; /* For Chrome, Safari, and Opera */
}

.scrollsnap-y {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.scrollsnap-x {
	overflow-y: hidden;
}

.lighten-strip {
	background-color: rgba(255, 255, 255, 0.1);
	margin: -2rem;
	width: calc(100% + 4rem);
}

.abyss {
	background: url('../assets/images/wild-animal-stats/earth.png') right
			center/50% no-repeat,
		url('../assets/images/wild-animal-stats/abyss.jpg') center/cover no-repeat;
}
.abyss-darkened {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../assets/images/wild-animal-stats/earth.png') right center/50%
			no-repeat,
		url('../assets/images/wild-animal-stats/abyss.jpg') center/cover no-repeat;
}
