@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: auto;
}

/* Prevent horizontal scroll when dialog is open */
body:has([data-state="open"]) {
  overflow-x: hidden;
}

@layer components {
  .font-brand {
    letter-spacing: 1.5px;
  }
}

@layer components {
  .scrollbar-custom::-webkit-scrollbar {
    -webkit-border-radius: 1ex;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #fff;
    -webkit-border-radius: 1ex;
  }

  .scrollbar-custom::-webkit-scrollbar-corner {
    background: #fff3;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
