/* TODO: should really figure out how to make this generic and use the number in the tailwind names */
.square-2s {
    @apply grid-cols-2 grid-rows-2 gap-16;
}
.square-2s > div {
    @apply rounded-lg;
}
.square-5s {
    @apply grid-cols-5 grid-rows-5 gap-6 rounded-md;
}
.square-5s > div {
    @apply rounded-md;
}
.square-10s {
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    @apply gap-2;
}
.square-10s > div {
    @apply rounded-sm;
}
.square-30s {
    grid-template-columns: repeat(30, minmax(0, 1fr));
    grid-template-rows: repeat(30, minmax(0, 1fr));
    @apply gap-1
}
.square-30s > div {
    @apply rounded-sm;
}
.square-50s {
    grid-template-columns: repeat(50, minmax(0, 1fr));
    grid-template-rows: repeat(50, minmax(0, 1fr));
    gap: 0.0625rem 0.0625rem;
}
.square-50s > div {
    @apply rounded-sm;
}
.blue-square {
    background-color: var(--blue);
}
.green-square {
    background-color: var(--green);
}
.orange-square {
    background-color: var(--orange);
}
.pink-square {
    background-color: var(--pink);
}
.purple-square {
    background-color: var(--purple);
}
#centered-squares {
    @apply grid self-center w-[70%];
    /* @apply md:h-[60%]; */
}
.stat-highlight {
    @apply text-5xl;
}
.legend {
    background: url('../../assets/images/wild-animal-stats/legend.svg') center/cover no-repeat;
    width: 80%;
    aspect-ratio: 15;
}
div[class$='-square'] {
    aspect-ratio: 1/1;
    align-self: center;
}
